<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youd</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}" />
    <!-- <link rel="stylesheet" href="../static/style.css"> -->
  </head>
  <body>
    <h1>Youd</h1>
    <p>a safe and easy Youtube downloader</p>
    <form action="/getall/" method="get">
      <input
        type="text"
        name="uri"
        placeholder="any Youtube URL..."
        id="youTubeUrl"
        required
      />
      <button type="submit">Download</button>
    
    </form>
  </body>
</html>
